@media (max-width: 430px),
        (max-width: 412px),
        (max-width: 375px),
        (max-width: 300px),
        (max-width: 295px) {
    .content-column h1{
        font-size: 1.5rem;
    }

    .hero-section {
        padding: 0rem 0%;
        margin-left: -0px;
      }

      .carousel-column {
        height: 600px;

      }

      .submit-button {
        width: 30%;
      }

}
