@media (max-width: 700px),
        (max-width: 430px),
        (max-width: 412px),
        (max-width: 375px),
        (max-width: 300px),
        (max-width: 295px) {
    .content-column h1{
        font-size: 1.3rem;
    }

    .content-column p{
      font-size: small;
    }

    .hero-section {
        padding: 0rem 0%;
        margin-left: -39px;
        margin-top: 80px;
        height: 140vh;
      }

      .carousel-column {
        height: 100px;
        margin-left: -10px;
      }

      .submit-button {
        width: 25%;
      }

      .container{
        flex-wrap: wrap;
      }

      .single-carousel{
        height: 10px;
      }


}


@media (max-width: 600px){
  .single-carousel{
    width: 140px;
  }
}
